body {
	font-family: Helvetica;
}
p {
	padding-left: 2em;
	padding-right: 2em;
	position: relative;
}
a {
	color: #FF1A1A;
	text-decoration: none;
	-o-transition: color .2s ease-out, background 2s ease-in; 
	-ms-transition: color .2s ease-out, background 2s ease-in; 
	-moz-transition: color .2s ease-out, background 2s ease-in; 
	-webkit-transition: color .2s ease-out, background 2s ease-in; 
	transition: color .2s ease-out, background 2s ease-in;
}
a:hover {
	color: #663399;
	-webkit-transition: ease-out 0.1s;
}
div#embed {
	padding-top: 1em;
}
footer {
	color: #b8b8b8;
	position: relative;
	text-align: center;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0.5em;
}
footer a {
	color: #929292;
}
.alert {
	max-width: 50%;
	font-size: 1em;
	color: #000;
	position: relative;
}
.alert.urgent {
	background: #FFCA28;
}
.alert.critical {
	background: #B71C1C;
}
.alert.urgent {
	border: 0.1px solid #FF8F00;
}
.alert.critical {
	border: 1px solid #D50000;
}
.close {
	font-size: 1em;
	float: right;
}
